---
layout: archive
permalink: /blog/
title: "Blog"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<i>I've switched to using substack to publish most of my posts about the <b><a href="https://claireduvallet.substack.com">early employee experience and other data musings</a></b>. I'll keep using this site to post the full code behind my data analysis posts and any other posts that don't fit the theme of my substack. Subscribe and follow along at <b><a href="https://claireduvallet.substack.com">claireduvallet.substack.com</a></b></i>

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
